# Разрешаем добавлять только готовые студенческие материалы.
*
контрольные_работы/результаты/контрольные.md
!.gitignore
!.gitattributes
!README.md
!books/
!books/*.pdf
!books/*.djvu
!lectures/
!lectures/*/
!lectures/*/presentation.pdf
